.container {
  margin: 0 auto;

  h5 {
    text-align: center;
  }

  .users {
    width: 80%;
    margin: 10px auto;
    text-align: center;
    padding: 0.5rem;
    background-color: darken($color: #598bff, $amount: 20);
    border-radius: 25px;
  }
}
