<div class="container">
  <form (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="form-group">
      <label for="mail">Mail </label>
      <input
        type="email"
        name="email"
        id="email"
        class="form-control"
        required
        email
        ngModel
        #mail="ngModel"
      />
    </div>

    <div
      class="alert alert-danger"
      *ngIf="mail.invalid && (mail.dirty || mail.touched)"
    >
      <div *ngIf="mail.errors.required">
        Email is required!
      </div>

      <div *ngIf="mail.errors.email">
        That's not a correct mail format!
      </div>
    </div>

    <div class="form-group">
      <label for="subscription">Choose your subscription</label>
      <select
        name="subscription"
        id="subscription"
        [ngModel]="subscriptions[0]"
        class="form-control"
      >
        <option [value]="sub" *ngFor="let sub of subscriptions">
          {{ sub }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        name="password"
        id="password"
        class="form-control"
        ngModel
        required
        #pass="ngModel"
      />
    </div>

    <div
      class="alert alert-danger"
      *ngIf="pass.invalid && (pass.dirty || pass.touched)"
    >
      <div *ngIf="pass.errors.required">
        Password is required!
      </div>
    </div>

    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
