<h5>Edit your server</h5>
<hr />
<form>
  <div class="form-group">
    <label for="id"
      >ID: <input type="text" [value]="server.id" disabled
    /></label>
  </div>
  <div class="form-group">
    <input
      type="text"
      #serveName
      name="serverName"
      [value]="server.name"
      placeholder="Server name"
    />
  </div>
  <div class="form-group">
    <select
      class="form-control"
      #serverStatus
      [value]="server.status"
      name="serverStatus"
    >
      <option>online</option>
      <option>offline</option>
    </select>
  </div>
</form>
<button
  (click)="updateServer(serveName.value, serverStatus.value)"
  class="btn btn-success"
>
  Update
</button>
